/* font chunk */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


/***/

main {
    font-family: "arial";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav,
h1,
p {
    width: 100%;
}

h1,
p,
div {
    text-align: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

table {
    background-color: white;
}

tr {
    cursor: pointer;
}

div {
    margin: 1rem;
    width: 100%;
}

button {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    background-color: #db4437;
    border: none;
    border-radius: 50%;
}

.material-icons {
    font-size: 2rem;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}